@font-face {
    font-family: "truelies";
    src: url(../fonts/True\ Lies.ttf);
}

@font-face {
    font-family: "bunguee";
    src: url(../fonts/BungeeInline-Regular.ttf);
}

.banner{
    background-image: url(../img/Logo\ pequeño.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 10vw;
    font-size: 3vw;
	background-color: black;
	text-align: center;
    color: #fff;
    border-bottom: solid rgb(255, 44, 77) 20px;
}

.banner-heading{
	font-family: 'truelies';
}

.btn-banner {
    font-family: 'bunguee';
	border-radius:10px;
	color:#fff; 
}

h1 {
    font-size: 6.5vw;
}

#transparente {

    position: relative;
    opacity: 40%;
    top: 1.75vw;
    font-size: 3vw;

}

#titulo {
    position: relative;
    text-align: center;
    font-family: truelies;
    font-size: 3vw;
}

#principal {
    position: relative;
    top: -1.75vw;
    font-size: 3vw;
}


img {
    width: 400px;
    height: 400px;
}
  
  div.gallery:hover {
    opacity: 0.3
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .carrito img {
      position: relative;
      bottom: 6vw;
      left: 90vw;
      width: 3vw;
      height: 3vw;
  }


